@import '../bootstrap_sass/bootstrap.scss';
//@import 'fonts.scss';
@import 'variables.scss';

body {
  background: $footer-color;
  font-size: 14px;
  font-family: $body-font;
  font-weight: $lt-weight;
  letter-spacing: -0.03em;
  word-spacing: 0.04em;
  color: $body-color;
}

a {
  color: $link-color;
  font-weight: $med-weight;
}

h1, h2, h3, h4, strong {
}

h1 {
  font-size: $h1-size;
  color: $h1-color;
  font-family: $h1-style;
  font-weight: $h1-weight;
  line-height: $h1-height;
  margin: $h1-margin;
  letter-spacing: -0.03em;
}

h2 {
  font-size: $h2-size;
  font-weight: $h2-weight;
  color: $h2-color;
  font-family: $h2-style;
  line-height: $h2-height;
  margin: $h2-margin;
}

h3 {
  font-size: $h3-size;
  color: $h3-color;
  font-family: $h3-style;
  line-height: $h3-height;
  margin: $h3-margin;
}

header {
  background: url('../images/header_bkgrd_v2.jpg') 0 0 no-repeat;
  background-size: cover;
  padding: $header-padding;
  .header-logos {
    p:first-child {
      margin: 10px 30px 0 0;
    }
  }
}

.logo-row {
  background: $white;
  display: block;
  height: $logo-row-height;
  @include border(bottom, 1px, $navlink-link);
  .position {
    top: 105px;
  }
  .search {
    margin-top: 20px;
  }
}

.navbar-color {
  background: $nav-color;
}

.navbar-margin {
  margin-left: 150px;
}

.navbar-nav > li > a {
  color: $navlink-link;
  font-weight: $navlink-weight;
  font-size: $navlink-size;
  padding: $navlink-padding;
  @include border(top, 7px, $white);
}

.nav > li > a:hover,
.nav > li > a.active,
.nav > li.active-trail a.active-trail,
.nav > li > a:focus {
  background: $navlink-bkgrd-active;
  color: $navlink-link-active;
  border-color: $navlink-link;
}

.hero {
  width: auto;
  h1 {
    font-size: $hero-size;
    color: $hero-color;
    font-family: $hero-style;
    margin: $hero-position;
  }
  .hero-content {
    z-index: 100;
    width: 50%;
    .message {
      display: block;
      background: rgba(0, 45, 97, 0.7);
      text-align: right;
      margin-bottom: 20px;
      h1 {
        margin: 0;
        padding: 22px 40px 28px 0;
        font-size: 3.4em;
        line-height: 1.2;
        letter-spacing: -0.03em;
      }
      .bolder {
        font-weight: $reg-weight;
      }
    }
  }
}


.prep-button {
  margin-bottom: 40px;
  .tagline {
    text-align: center;
  }
  .bolder {
    font-weight: $reg-weight;
  }
}

.tagline {
  display: block;
  background: $dk-blue;
  padding: 8.6px 40px 10px 40px;
  color: $white;
  font-size: 1.3em;
  font-weight: $lt-weight;
}

.submenu {
  text-align: right;
  font-size: $submenu-link-size;
  font-family: $submenu-link-font;
  //text-align: right;
  .nav {
    width: 80%;
    float: right;
    margin-top: 20px;
    li {
      a {
        font-weight: normal;
        color: $submenu-link-link;
        display: inline-block;
        padding: 3px 0 3px 18px;
        margin-bottom: 26px;
        //padding: 10px 0;
      }
      a:hover,
      a:focus,
      a.active-trail {
        color: $submenu-link-link-active;
        background: $submenu-link-bkgrd-active;
      }
      a.active-trail {
      }
    }
  }
}


.main-container {
  font-size: $body-size;
}

.content-area-color {
  background: $content-area-color;
}

.main-container-margin {
  margin: $main-container-margin;
}

.main-content-margin {
  margin: $main-content-margin;
}

.page-content {
  line-height: $body-height;
  p {
    margin: $paragraph-margin;
  }
  ul, ol {
    margin-top: $list-margin;
  }
  ul li, 
  ol li {
    margin: $list-item-margin;
  }
}

.home-news {
  font-family: $body-font;
  padding: 30px 20px;
  color: $white;
  font-size: 0.88em;
  h2, a {
    color: $white;
  }
  h2 {
    font-family: $body-font;
    font-size: 2.0em;
    @include border('bottom', 1px, $white);
    display: inline-block;
    margin-bottom: 20px;
  }
  a {
    text-decoration: underline;
  }
  /*
  .views-field-title,
  .views-field-field-date {
    font-family: $bold-font;
  }
  .views-row {
    margin-bottom: 20px;
  }
  */
}

.btn {
  border-radius: 0;
}

.btn-prep {
  background-color: $orange;
  background-repeat: no-repeat;
  color: $white;
  text-align: right;
  font-weight: $book-weight;
}

a.btn-prep:hover {
  color: $white;
}

.btn-prep-lg,
.btn-prep-sm {
  background-position: 0 50%;
}

.btn-prep-lg {
  padding: 10px 40px 12px 100px;
  background-image: url('../images/up_arrow_lg.png');
  font-size: 2.4em;
}

.btn-prep-sm {
  padding: 10px 50px 12px 70px;
  background-image: url('../images/up_arrow_sm.png');
  font-size: 1.1em;
}

.no-bullets {
  list-style: none;
  li {
    margin-bottom: 15px;
  }
}

.img-float {
  float: left;
  margin: 5px 20px 3px 0;
}

.lead-in-txt {
  color: $green;
  font-size: 1.3em;
  line-height: 1.4;
  margin-bottom: 20px;
}

h2.space-before-list {
  margin: $h2-space-before-list;
}

h3.space-before-list {
  margin: $h3-space-before-list;
}

ul.list-within-list {
  margin: $list-within-list;
}

.study-team-img {
  float: left;
  margin: 10px 15px 5px 0;
}

footer {
}

.footer {
  border-top: none;
  margin-top:25px;
  padding-bottom: 40px;
}

.footer-logos.col-md-4 {
  padding: 0;
}

.footer-logos {
  .up-footer {
    padding: 0 20px 17px 20px;
    margin: 0;
  }
  .institution-logos {
    padding: 50px 20px;
    @include border(top, 1px, $white);
    .fenway-footer {
      margin: 8px 0 20px;
    }
    .hms-footer img,
    .bi-footer img {
      width: 95%;
    }
    .hms-footer {
      margin: 10px 8px 0 8px;
    }
    .bi-footer {
      margin: 0 8px;
    }
  }
}

.footer-legal {
  font-size: $footer-legal-size;
  color: $footer-font-color;
  p {
    margin: 0;
  }
  a {
    color: $footer-font-color;
  }
  ul {
    padding-left: 0;
    float: right;
  }
  li {
    padding: 0 10px;
    @include border(right, 1px, $footer-font-color);
    @include menustyle;
  }
  li:first-child {
   padding-left: 0;
  }
  li:last-child {
      border: none;
  }
  .legal {
    text-align: right;
    font-size: 75%;
    a {
      text-decoration: underline;
    }
  }
}

.italic {
  font-style: italic;
}

.txt-center {
  text-align: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

// PrEP tool

#up-app {
  input.form-control[type=text] {
    font-size: 1.3em;
    font-weight: $reg-weight;
    width: 130px;
    height: 50px;
    border: $med-blue 1px solid;
    border-radius: 0;
  }
  .has-error input.form-control[type=text] {
    border-color: #a94442;
  }
  .btn:hover,
  .btn:focus {
    color: $white;
  }
  .border {
    border-color: $green;
  }
  .filled {
    background-color: $orange;
  }
}

.page-content {
  .tool-header p {
    margin: 0;
  }
  ol p {
    margin-bottom: 10px;
  }
  p.orange.italic {
    margin-bottom: 20px;
  }
  .summary .question ul {
    margin-top: 7px;
  }
}

.tool-header {
  background: $dk-med-blue;
  color: $white;
  font-size: 1.3em;
  padding: 10px 40px;
  margin-bottom: 60px;
  .bolder {
    font-weight: $reg-weight;
  }
}

h1 .bolder {
  font-weight: $reg-weight;
}

.prep-instructions {
  color: $med-blue;
  font-style: italic;
  line-height: 1.4;
}

.step1 {
  .prep-instructions {
    margin-bottom: 40px;
  }
  .questions {
    li {
      margin-bottom: 40px;
    }
  }
  .radio-inline {
    font-weight: $lt-weight;
  }
  .text-danger {
    font-weight: $reg-weight;
    line-height: 1.4;
  }
  .std-table {
    width: 35%;
  }
  .std-table > tbody > tr > td {
    border: none;
  }
}

.step2 {
  .prep-chart {
    margin-bottom: 50px;
  }
  .results-heading {
    @include border(bottom, 1px, $dk-blue); 
    margin-bottom: 40px;
    p {
      margin-bottom: 5px;
    }
  }

}

.result-numbers {
  margin-left: 50px;
  line-height: 1.3;
  .bolder {
    font-weight: $med-weight;
  }
  .number {
    font-size: 1.5em;
  }
  .with-prep {
    color: $orange;
  }
  .without-prep {
    color: $green;
  }
}

.btn-prep-left {
  padding: 10px 30px 12px 85px;
  background-image: url('../images/up_arrow_sm_back.png');
  background-position: 10% 50%;
  font-size: 1.1em;
}

.btn-prep-right {
  padding: 10px 100px 12px 30px;
  background-image: url('../images/up_arrow_sm.png');
  background-position: 90% 50%;
  font-size: 1.1em;
}

// STEP 3
.page-content .step3 {
  .slider-question p {
    margin-bottom: 7px;
  }
  .slider-scale p {
    margin-bottom: 0;
  }
}

.step3 {
  
}

.slider-questions-container {
  padding:15px 50px;
  border: $med-blue 1px solid;
  margin-top: 20px;
  margin-bottom: 50px;
}

.slider-scale {
  padding-top: 25px;
  padding-bottom: 25px;
  font-style: italic;
  color: $white;
  font-size: 0.9em;
  line-height: 1.3;
}
.slider-scale-left {
  text-align: left;
  padding-left: 90px;
  padding-right: 40px;
  background: $med-blue url('../images/slider_scale_arrow_left.png') 10% 50% no-repeat;
}
.slider-scale-right {
  text-align: right;
  padding-left: 20px;
  padding-right: 90px;
  background: $med-blue url('../images/slider_scale_arrow_right.png') 90% 50% no-repeat;
}

.rc-slider-dot {
  border-radius: 0;
  width: 3px;
  bottom: -4px;
}
.rc-slider-dot-active,
.rc-slider-dot {
  border: none;
}

.slider-question {
  margin-bottom: 50px;
  p {
    font-weight: $med-weight;
  }
  .values {
    font-color: $dk-med-blue;
    margin-bottom: 5px;
  }
}

.rc-slider-track {
  background: $med-blue;
  height: 8px;
}
.rc-slider-handle {
  background: $med-blue;
  border: #fff 3px solid;
  height: 24px;
  width: 24px;
  margin-left: -12px;
  margin-top: -9px;
}
.rc-slider-dot {
  border-radius: 0;
  width: 3px;
  bottom: -4px;
}
.rc-slider-dot-active,
.rc-slider-dot {
  border: none;
}

// NEXT STEPS

#up-app .step4 {
  input.form-control[type=text] {
    width: 600px;
  }
}

// SUMMARY
.summary {
  .summary-step {
    padding: 0 20px 50px 20px;
    @include border(bottom, 1px, $dk-med-blue);
    margin-bottom: 50px;
  }
  .list-space {
    margin-top: 20px;
  }
  p.orange.italic {
    margin-top: -10px;
  }
  .orange {
    color: $orange;
  }
  .response, 
  .italic.response {
    display: inline-block;
    font-style: normal;
    font-weight: $med-weight;
    font-size: 1.3em;
    line-height: 1;
  }
  .question {
    margin-bottom: 20px;
    p:first-child {
      margin-bottom: 0;
      ul li {
        margin-bottom: 10px;
      }
    }
  }
  p.orange.italic {
    line-height: 1;
    display: inline;
  }
  .italic {
    font-style: italic;
  }
  .orange {
    color: $orange;
  }
  .response, 
  .italic.response {
    font-style: normal;
    font-weight: $med-weight;
    font-size: 1.4em;
  }
  .slider-scale-container {
    margin: 30px 0 20px 0;
  }
  .result-numbers {
    margin-left: 0;
  }
}

.btn.btn-prep-summary {
  padding: 20px 10px 20px 60px;
  background-image: url('../images/up_arrow_sm.png');
  background-position: -10px 30%;
  font-size: 1.1em;
  line-height: 1.2;
  margin: 0 30px 15px 30px;
  white-space: normal;
  text-align: left;
}

.notes {
  margin-bottom: 60px;
}

// PRINT
@media print {

  header, nav, footer,
  .summary-buttons button,
  .search, .tool-header {
    display: none;
  }

  body {
    overflow: visible;
  }
  body, h1, h2 {
    font-family: 'Arial', 'Helvetica', sans-serif;
  }
  h1 {
    font-size: 30pt;
  }
  .main-container {
    font-size: 16pt;
  }
  .logo-row {
    border: none;
    height: 0.25in;
    .position {
      top: 0;
    }
    .absolute {
      position: relative;
    }
    .logo img {
      width: 2in;
    }
  }
  a:after {
    content: "";
    display: none;
  }
  .main-container-margin, 
  .main-content-margin {
    margin: 0;
  }

  .filled, .rc-slider-handle,
  .rc-slider-track {
    -webkit-print-color-adjust: exact;
  }

  .border {
    border: #000 1px solid !important;
  }

  .filled {
    background: #444 !important;
  }

  .rc-slider-handle,
  .rc-slider-track {
    background: #444 !important;
  }

  .rc-slider-dot {
    background: $white !important;
  }
  .summary {
    .summary-step {
      padding: 0 20px 30px 20px;
      @include border(bottom, 1px, #999);
      margin-bottom: 30px;
      .col-md-6 {
        display: inline-block;
      }
      .pull-left {
        float: none !important;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
}

