//@import '../bootstrap_sass/bootstrap.scss';
//@import 'fonts.scss';
@import 'variables.scss';

body {
  background: $footer-color;
  font-size: 14px;
  font-family: $body-font;
  font-weight: $lt-weight;
  letter-spacing: -0.03em;
  word-spacing: 0.04em;
  color: $body-color;
}

a {
  color: $link-color;
  font-weight: $med-weight;
}

h1, h2, h3, h4, strong {
}

h1 {
  font-size: $h1-size;
  color: $h1-color;
  font-family: $h1-style;
  font-weight: $h1-weight;
  line-height: $h1-height;
  margin: $h1-margin;
  letter-spacing: -0.03em;
}

h2 {
  font-size: $h2-size;
  font-weight: $h2-weight;
  color: $h2-color;
  font-family: $h2-style;
  line-height: $h2-height;
  margin: $h2-margin;
}

h3 {
  font-size: $h3-size;
  color: $h3-color;
  font-family: $h3-style;
  line-height: $h3-height;
  margin: $h3-margin;
}

header {
  background: url('../images/header_bkgrd.jpg') 0 0 no-repeat;
  background-size: cover;
  padding: $header-padding;
  .header-logos {
    p:first-child {
      margin: 10px 30px 0 0;
    }
  }
}

.logo-row {
  background: $white;
  display: block;
  height: $logo-row-height;
  @include border(bottom, 1px, $navlink-link);
  .position {
    top: 105px;
  }
  .search {
    margin-top: 20px;
  }
}

.navbar-color {
  background: $nav-color;
}

.navbar-margin {
  margin-left: 150px;
}

.navbar-nav > li > a {
  color: $navlink-link;
  font-weight: $navlink-weight;
  font-size: $navlink-size;
  padding: $navlink-padding;
  @include border(top, 7px, $white);
}

.nav > li > a:hover,
.nav > li > a.active,
.nav > li.active-trail a.active-trail,
.nav > li > a:focus {
  background: $navlink-bkgrd-active;
  color: $navlink-link-active;
  border-color: $navlink-link;
}

.hero {
  width: auto;
  h1 {
    font-size: $hero-size;
    color: $hero-color;
    font-family: $hero-style;
    margin: $hero-position;
  }
  .hero-content {
    z-index: 100;
    width: 50%;
    .message {
      display: block;
      background: rgba(0, 45, 97, 0.7);
      text-align: right;
      margin-bottom: 20px;
      h1 {
        margin: 0;
        padding: 22px 40px 28px 0;
        font-size: 3.4em;
        line-height: 1.2;
        letter-spacing: -0.03em;
      }
      .bolder {
        font-weight: $reg-weight;
      }
    }
  }
}


.prep-button {
  margin-bottom: 40px;
  .tagline {
    text-align: center;
  }
  .bolder {
    font-weight: $reg-weight;
  }
}

.tagline {
  display: block;
  background: $dk-blue;
  padding: 10px 40px;
  color: $white;
  font-size: 1.3em;
  font-weight: $lt-weight;
}

.submenu {
  text-align: right;
  font-size: $submenu-link-size;
  font-family: $submenu-link-font;
  //text-align: right;
  .nav {
    width: 80%;
    float: right;
    margin-top: 20px;
    li {
      a {
        font-weight: normal;
        color: $submenu-link-link;
        display: inline-block;
        padding: 3px 0 3px 18px;
        margin-bottom: 26px;
        //padding: 10px 0;
      }
      a:hover,
      a:focus,
      a.active-trail {
        color: $submenu-link-link-active;
        background: $submenu-link-bkgrd-active;
      }
      a.active-trail {
      }
    }
  }
}


.main-container {
  font-size: $body-size;
}

.content-area-color {
  background: $content-area-color;
}

.main-container-margin {
  margin: $main-container-margin;
}

.main-content-margin {
  margin: $main-content-margin;
}

.page-content {
  line-height: $body-height;
  p {
    margin: $paragraph-margin;
  }
  ul, ol {
    margin-top: $list-margin;
  }
  ul li, 
  ol li {
    margin: $list-item-margin;
  }
}

.home-news {
  font-family: $body-font;
  padding: 30px 20px;
  color: $white;
  font-size: 0.88em;
  h2, a {
    color: $white;
  }
  h2 {
    font-family: $body-font;
    font-size: 2.0em;
    @include border('bottom', 1px, $white);
    display: inline-block;
    margin-bottom: 20px;
  }
  a {
    text-decoration: underline;
  }
  /*
  .views-field-title,
  .views-field-field-date {
    font-family: $bold-font;
  }
  .views-row {
    margin-bottom: 20px;
  }
  */
}

.btn {
  border-radius: 0;
}

.btn-prep {
  background-color: $orange;
  background-repeat: no-repeat;
  color: $white;
  text-align: right;
  font-weight: $book-weight;
}

a.btn-prep:hover {
  color: $white;
}

.btn-prep-lg,
.btn-pre-sm {
  background-position: 0 50%;
}

.btn-prep-lg {
  padding: 10px 40px 12px 100px;
  background-image: url('../images/up_arrow_lg.png');
  font-size: 2.4em;
}

.btn-prep-sm {
  padding: 10px 50px 12px 70px;
  background-image: url('../images/up_arrow_sm.png');
  font-size: 1.1em;
}

.no-bullets {
  list-style: none;
  li {
    margin-bottom: 15px;
  }
}

.img-float {
  float: left;
  margin: 5px 20px 3px 0;
}

.lead-in-txt {
  color: $green;
  font-size: 1.3em;
  line-height: 1.4;
  margin-bottom: 20px;
}

.space-before-list {
  margin: $space-before-list;
}

footer {
}

.footer {
  border-top: none;
  margin-top:25px;
  padding-bottom: 40px;
}

.footer-logos.col-md-4 {
  padding: 0;
}

.footer-logos {
  .up-footer {
    padding: 0 20px 17px 20px;
    margin: 0;
  }
  .institution-logos {
    padding: 50px 20px;
    @include border(top, 1px, $white);
    .fenway-footer {
      margin: 8px 0 20px;
    }
    .hms-footer img,
    .bi-footer img {
      width: 95%;
    }
    .hms-footer {
      margin: 10px 8px 0 8px;
    }
    .bi-footer {
      margin: 0 8px;
    }
  }
}

.footer-legal {
  font-size: $footer-legal-size;
  color: $footer-font-color;
  p {
    margin: 0;
  }
  a {
    color: $footer-font-color;
  }
  ul {
    padding-left: 0;
    float: right;
  }
  li {
    padding: 0 10px;
    @include border(right, 1px, $footer-font-color);
    @include menustyle;
  }
  li:first-child {
   padding-left: 0;
  }
  li:last-child {
      border: none;
  }
  .legal {
    text-align: right;
    font-size: 75%;
    a {
      text-decoration: underline;
    }
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

// PrEP tool

#up-app {
  input.form-control[type=text] {
    font-size: 1.3em;
    font-weight: $reg-weight;
    width: 130px;
    height: 50px;
    border: $med-blue 1px solid;
    border-radius: 0;
  }
  .has-error input.form-control[type=text] {
    border-color: #a94442;
  }
}

.page-content {
  .tool-header p {
    margin: 0;
  }
  ol p {
    margin-bottom: 10px;
  }
}

.tool-header {
  background: $dk-med-blue;
  color: $white;
  font-size: 1.3em;
  padding: 10px 40px;
  margin-bottom: 60px;
  .bolder {
    font-weight: $reg-weight;
  }
}

h1 .bolder {
  font-weight: $reg-weight;
}

.prep-instructions {
  color: $med-blue;
  font-style: italic;
  line-height: 1.4;
}

.step1 {
  .prep-instructions {
    margin-bottom: 40px;
  }
  .questions {
    li {
      margin-bottom: 40px;
    }
  }
  .radio-inline {
    font-weight: $lt-weight;
  }
  .text-danger {
    font-weight: $reg-weight;
    line-height: 1.4;
  }
}

.step2 {
  .border {
    border-color: $green;
  }
  .filled {
    background-color: $orange;
  }
}

.btn-prep-left {
}

.btn-prep-right {
  padding: 10px 100px 12px 30px;
  background-image: url('../images/up_arrow_sm.png');
  background-position: 90% 50%;
  font-size: 1.1em;
}


@media (min-width: 992px) and (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
}

